<!doctype html>
<html lang="en">

<body>
    <div class="mentee-profile-navigation">
        <nav class="nav-button-container">
            <div class="mentee-heading">
                <h2>Resources</h2>
            </div>
            <div class="nav-buttons">
                <button class="button" type="submit" value="Back" onclick="window.location.href = 'admin-home';" />Admin
                Home</button>
                <button class="button" type="submit" value="Resources"
                    onclick="window.location.href = 'resources-admin';" />Resources</button>
                <button type="submit" id="dataforms" form="dataform">Data</button>
                <button type="submit" id="logout" form="form1">Log out</button>
                <form action="/logout" method="GET" id="form1"> </form>
            </div>
        </nav>
    </div>
</body>

</html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/adminNav.css" />
    <title>Resources</title>
</head>
<form action="admin-dataprint" method="GET" id="dataform"></form>

<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3"></h1>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col2">Links to other resources here:</div>
                    <div class="col"></div>
                </div>
            </div>
            <th>
                <form action="add-resource" method="POST">
                    <input type="text" maxlength="50" name="ResourceName" id="ResourceName" placeholder="ResourceName">
                    <input type="text" maxlength="500" name="ResourceLink" id="ResourceLink" placeholder="ResourceLink">
                    <label>Visibility option: </label>
                    <select name="MentorView" id="MentorView">
                        <option value=0>All</option>
                        <option value=2>Mentors-Only</option>
                        <option value=1>Mentee-Only</option>
                    </select>
                    <button class="buttonresourceadd" type="submit">Add Resource</button>
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table action="resources" class="table table-bordered">
                            <% for (var i=0; i < userData.length;i++) { %>
                                <td>
                                    <form action="update-resources" method="POST">
                                        <input name="ResourceName" maxlength="50" id="ResourceName" value=<%- JSON.stringify(userData[i].ResourceName)
                                            %> >
                                        <input name="ResourceLink" maxlength="500" id="ResourceLink" value=<%- JSON.stringify(userData[i].ResourceLink)
                                            %> >
                                        <input type="hidden" name="originalName" id="originalName" value=<%- JSON.stringify(userData[i].ResourceName) %> >
                                        <% if(userData[i].MentorView==0) { %>
                                            <select name="MentorView" id="MentorView">
                                                <option value=0 selected>All</option>
                                                <option value=2>Mentors-Only</option>
                                                <option value=1>Mentee-Only</option>
                                            </select>
                                            <% } %>
                                                <% if(userData[i].MentorView==1) { %>
                                                    <select name="MentorView" id="MentorView">
                                                        <option value=0>All</option>
                                                        <option value=2>Mentors-Only</option>
                                                        <option value=1 selected>Mentee-Only</option>
                                                    </select>
                                                    <% } %>
                                                        <% if(userData[i].MentorView==2) { %>
                                                            <select name="MentorView" id="MentorView">
                                                                <option value=0>All</option>
                                                                <option value=2 selected>Mentors-Only</option>
                                                                <option value=1>Mentee-Only</option>
                                                            </select>
                                                            <% } %>
                                                           <td>
                                                                <button class="buttonresourceedit" type="submit" value="Button">Edit</button>
                                    </form>                  
                                    <form action="delete-resources" method="POST"><input name="ResourceName"
                                            type="hidden" id="ResourceName" value=<%- JSON.stringify(userData[i].ResourceName) %>>
                                            <button class="buttonresourcedelete" type="submit" value="Button">Delete</button></form>
                                            </td>
                                </td>
                                <% } %>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>