<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/primary.css" />
    <link rel="stylesheet" href="css/choose-user.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentor Match</title>
  </head>
  <body>
    <div class="choose-type-page-container">
      <form action="/" method="GET">
        <button class="back" type="submit" id="back">Back</button>
      </form>
        <div class="choose-type-content-container">
          <h1>(Sign Up) I'm a...</h1>
          <div class="choose-type-button-container">
            <form action="/mentor-signup" method="GET" id="form1">
            </form>
            <button type="submit" form="form1"type="submit" id="Mentor" >Mentor</button>
            <form action="/mentee-signup" method="GET" id="form2"></form>
            </form>
            <button type="submit" form="form2" type="submit" id="Mentee">Mentee</button>
          </div>
        </div>
        <img src="images/interaction3.png" alt="Uoo Icon" />
      </div>
    </body>
  </html>