body {
  margin: 0;
  overflow: scroll;
}

.mentee-profile-navigation {
  color: #00508F;
  background-color: #00508F;
}

.mentee-heading {
  color: #FFC20E;
  padding: 0 10vw;
  font-size: 20pt;
  font-weight: 600;
  flex: 1;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-buttons {
  flex: 3;
  padding: 3.5vh 2.5vw;

}

.nav-buttons button {
  color: #00508F;
  width: 17%;
  padding: 1vh 0;
  margin-right: 5px;
  font-size: 15px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #FFC20E;

}

table,
th,
td,
tr,
tbody {
  border: 2px solid;
  border-color: #FFC20E;
}

h2 {
  color: #FFC20E;
}

.container {
  padding: 0 5vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
}

@media print {
  .nav-button-container {
    display: none;
  }
}
.card{
  border-color: #FFC20E;
}