body{
    margin: 0;
    overflow: scroll;
}

dd {
    display: inline-block;
    margin: 0;
    padding: 2vh 0;
  }
  .grid-container {
  /* width: 50; */
  /* display: -ms-grid; */
  /* overflow: auto;*/
  /* height: auto; */
  /* padding: 50px; */
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .grid-container img{
    border-radius: 50%;
  }
  
  .card {
    border-bottom: 80px;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    height: 40vh;
    width:15vw;
    max-height:40vh;
    max-width: 15vw;
    bottom: auto;
    display:inline-block;
    border-radius: 30px;
    margin-bottom:10px;
    margin-right: 10px;
    background-color: #1C3952;
    color: white;
    font-weight: 600;
    font-size: larger;
    /* margin-left: 10px */
  } 

  #view-more{
    background-color: #00508F;
    width: auto;
    color: white;
    border: none;
    outline: none;
    padding: 1vh 1vw;
    border-radius: 50px;
    cursor: pointer;
  }

  #view-more:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #FFC20E;
  }

.mentee-search-container{
    padding: 5vh 5vw;
}

.input-icons i {
    position: absolute;
    margin: 3px 8px;
    font-size: 1.1em;
    font-weight: 100;
    color: #00508F;
}
  
.input-icons {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex:3;
  margin-right:15px ;
}

.input-icons input{
    border: 1px solid #555;
    /* width: 100%; */
    min-width: 8vw;
    padding: 9px 4px 9px 40px;
     background-color: #f0efef ;
     border-radius: 50px;
     font-size: large;

}

::placeholder{
    color: #00508F;
}

form{
    display: flex;
    
}

.search-bar{
    display:flex;
    flex:1;
}

.holder{
    flex:2;
}

.search-bar select{
    flex:2;
    margin-right:15px ;
    background-color: #f0efef ;
    color: #00508F;
    border-radius: 50px;
    font-size: large;



}

.search-bar input{
    color: #00508F;
    border-radius: 50px;
    min-width: 5vw;
}

#submit-button{
    cursor: pointer;
    background-color: #00508F;
    color: white;
    border: none;
    font-size: large;
}
#submit-button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #FFC20E;
    
}